.elementContainer {
  position: relative;
  margin-top: 70px;
  width: 100%;
}
html,
body {
  background-color: #f9f9f9;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
}
.cursorhand {
  cursor: pointer;
}
.fullScreen {
  width: 100%;
  height: calc(100vh - 70px);
}

.removeMarginLeftRigth {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.removeMarginLeft {
  margin-left: 0 !important;
}
.removeMarginRigth {
  margin-right: 0 !important;
}
.contentAlignRight {
  text-align: right;
}
.contentAlignLeft {
  text-align: left;
}
.contentAlignCenter {
  text-align: center;
}
